<!-- app/views/messages/index.html.erb -->
<div class="container mt-5">
  <h1>Messages</h1>

  <!-- List of users that current user can message -->
  <div class="row">
    <div class="col-md-4">
      <h3>Your Conversations</h3>
      <ul class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item <%= 'active' if @receiver == user %>">
            <%= link_to user.email, messages_path(receiver_id: user.id), class: "text-decoration-none" %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Message conversation and form -->
    <div class="col-md-8">
      <% if @receiver %>
        <h3>Conversation with <%= @receiver.email %></h3>

        <!-- Button to delete entire conversation -->
        <%= button_to 'Delete Conversation', destroy_conversation_messages_path(receiver_id: @receiver.id),
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this conversation?' },
                      class: 'btn btn-danger mb-3' %>

        <!-- List of messages -->
        <div class="messages-list">
          <% @messages.reverse_each do |message| %>
            <div class="message <%= 'text-end' if message.sender == current_user %> mt-3 mb-5">
              <strong><%= message.sender.email %>:</strong>
              <p><%= raw message.content %></p>
              <small class="text-muted"><%= time_ago_in_words(message.created_at) %> ago</small>

              <!-- Buttons for editing and deleting messages -->
              <% if message.sender == current_user %>
                <div class="message-actions mt-3 mb-3">
                  <!-- Edit message in place -->
                  <%= form_with model: [current_user, message], url: message_path(message), method: :patch, local: true, class: 'd-inline' do |f| %>
                    <%= f.text_area :content, class: 'form-control mb-1 ckeditor', value: message.content, rows: 1 %>
                    <%= f.submit 'Update', class: 'btn btn-sm btn-secondary mt-3' %>
                  <% end %>
                  <%= link_to 'Delete', message_path(message), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger mt-3' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>


        <!-- Form for sending a new message -->
        <%= form_with model: [current_user, @message], url: messages_path, local: true do |f| %>
          <div class="form-group mt-5">
            <%= f.hidden_field :receiver_id, value: @receiver.id %>
            <%= f.text_area :content, class: 'form-control ckeditor', placeholder: 'Write your message here...' %>
          </div>
          <div class="form-group mt-3">
            <%= f.submit 'Send', class: 'btn btn-primary' %>
          </div>
        <% end %>

      <% else %>
        <p>Please select a conversation from the list.</p>
      <% end %>
    </div>
  </div>
</div>
