<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4>Edit Post</h4>
        </div>
        <div class="card-body">
          <%= form_with(model: @post, url: post_path(@post), method: :patch, multipart: true) do |form| %>
            <div class="form-group">
              <%= form.label :title %>
              <%= form.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :post_date %>
              <%= form.date_field :post_date, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= form.label :photos, "Upload New Photos" %>
              <%= form.file_field :photos, multiple: true, class: 'form-control' %>
            </div>

            <div class="row mt-3 mb-3">
              <% @post.photos.each do |photo| %>
                <div class="col-md-3">
                  <%= image_tag photo, class: 'img-fluid' %>
                  <%= link_to 'Delete', delete_post_photo_path(@post, photo.id), method: :delete, data: { confirm: 'Сигурни ли сте?' }, class: 'btn btn-danger mt-2' %>
                </div>
              <% end %>
            </div>

            <div class="row mt-3 mb-3">
              <% if @post.photos.attached? %>
                <% @post.photos.each do |ph| %>
                  <%= form.hidden_field :photos, multiple: true, value: ph.signed_id %>
                <% end %>
              <% end %>
            </div>

            <div class="actions">
              <%= form.submit 'Update Post', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
