<!-- app/views/posts/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Posts</title>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container mt-5">
  <h2 class="mb-4">All Posts</h2>

  <div class="d-flex gap-4 w-100 justify-content-between">
    <%= link_to '🎈 Create New Post', new_post_path, class: 'btn btn-primary mb-3' %>
    <%= render "layouts/filter_posts" %>
  </div>

  <div class="row">
    <% @posts.each do |post| %>
      <%= render "layouts/post_card", post: post %>
    <% end %>
  </div>

  <div class="text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
</body>
</html>
