<div class="mb-3 d-flex align-items-center w-25">
  <label for="sort_by" class="form-label me-2 w-25 pt-1">Sort By:</label>
  <select class="form-select" id="sort_by" aria-label="Sort by" onchange="window.location.href='?sort_by=' + this.value;">
    <option value="recent" <%= 'selected' if @sort_by == 'recent' %>>Recent</option>
    <option value="views" <%= 'selected' if @sort_by == 'views' %>>Views Count</option>
    <option value="photos" <%= 'selected' if @sort_by == 'photos' %>>Photos Count</option>
    <option value="likes" <%= 'selected' if @sort_by == 'likes' %>>Most Liked</option>
    <option value="author_asc" <%= 'selected' if @sort_by == 'author_asc' %>>Author Ascending</option>
    <option value="author_desc" <%= 'selected' if @sort_by == 'author_desc' %>>Author Descending</option>
  </select>
</div>