<!DOCTYPE html>
<html>
<head>
  <title>Playground</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "paginate", media: 'all' %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  <%= javascript_include_tag 'download_pdf', "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag 'notifications', "data-turbo-track": "reload", defer: true %>

  <!-- CKEditor 5 Classic Build from CDN -->
  <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>

</head>

<%= render "layouts/main_nav" %>

<body>
<% if notice %> <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %> <p class="alert alert-danger"><%= alert %></p>
<% end %>

<!--<div class="flash">-->
  <%# flash.each do |type, message| %>
<!--    <p class="flash <%#= type %>"><%#= message %></p>-->
  <%# end %>
<!--</div>-->


<%= yield %>
</body>
</html>
